.form-section{
    display: flex;
    flex-direction: column;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
    flex-wrap: wrap;

}
form{
    text-align: center;
    border-radius: 10px;
    background-color:mediumorchid;
    color: blue;
    padding: 20px;
    margin-left:30 ;
    font-size: medium;
    width:  30%
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    

    

}
input{
    border: solid 1px rgb(8, 8, 7);
    height: 25px;
}
textarea{
    border: solid 1px rgb(8, 8, 7);
    height: 25px;
    width: 82px;
}
button{
    border:solid 1px rgb(6, 3, 3);
    padding: 7px 15px;
    background-color: brown;
    border-radius: 15px;
}