.grid-container{
    display: grid;
    background-color: peru;
    grid-template-columns: auto auto auto auto auto ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
}
.grid-item{
    background-color: lawngreen;
    text-align: center;
    padding: 10px;
}
#header{
    grid-column:1/7 ;
}
#menu{
     grid-row: 2/4; 
}
#left{
grid-column: 2/5;
}
#right{
  grid-column:5/7 ;
}
#footer{
grid-column: 2/7;
}
