.grid-container{
    display: grid;
    background-color: peru;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
}
.grid-item{
    background-color: lawngreen;
    text-align: center;
    padding: 10px;
}
